$link: #7d8cf7;
$highlighted: #4e46e3;

.nice-link {
  text-decoration: none !important;
  position: relative;
  transition: color 150ms linear;
  cursor: pointer;
  color: $link;
  font-weight: 600;

  &:hover,
  &.active {
    color: $highlighted;
    &::after {
      transform: translate3d(0, 1px, 0) scale3d(1, 1, 1);
      clip-path: polygon(
        0% 0%,
        0% 100%,
        50% 100%,
        50% 0,
        50% 0,
        50% 100%,
        50% 100%,
        0 100%,
        100% 100%,
        100% 0%
      );
    }
    .link-txt {
      color: $highlighted;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: $highlighted;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(
      0% 0%,
      0% 100%,
      0 100%,
      0 0,
      100% 0,
      100% 100%,
      0 100%,
      0 100%,
      100% 100%,
      100% 0%
    );
  }
}
